p.center {
    text-align: center;
    color: brown;
    font-size: 75px;
    }

    p.large {
    font-size: 50px;
    text-align: right;

    }

    p{
        color: aquamarine;
        
    }

    .middle{
        text-align: center;
    }

    .h1{
    color: green;
    }

    .font{
        font-size:40px ;
    }
    
    #rollid{
        color:blueviolet ; 
        font-size: 100px;          
    }
    span{
        text-align: left;
        font-size:xx-large;
    }